{block #content}

  <div class="row">
  <h2>Welcome</h2>
  <div class="large-12 columns panel inline">
  <div class="row">
  <div class="large-6 small-2 columns left">
    <fieldset>
    <legend>Sign in</legend>
      {form signForm-form}
           <ul class=error n:if="$form->ownErrors">
          <li n:foreach="$form->ownErrors as $error">{$error}</li>
        </ul>

        <div class="form-group">
          {label username class=>"control-label" /}
          <input n:name="username" class="form-control">
          <span class="help-block error" n:ifcontent>{$form[username]->error}</span>
        </div>

        <div class="form-group">
          {label password class=>"control-label" /}
          <input n:name="password" class="form-control" >
          <span class="help-block error" n:ifcontent>{$form[password]->error}</span>
        </div>

        <div class="checkbox">
          <label for="frm-signInForm-remember" class="b-login__remember"><input n:name="remember" id="frm-signInForm-remember">remember me</label>
          <p class="help-block">(if this is a private computer)</p>
        </div>
                <input n:name="send" class="button">
         {/form}
         </fieldset>
     </div>

   <div class="large-6 small-2 columns right">
         <fieldset>
             <legend>Register new account</legend>
             {form registrationForm}
           <ul class=error n:if="$form->ownErrors">
             <li n:foreach="$form->ownErrors as $error">{$error}</li>
           </ul>

           <input n:name="email" class="hide">

           <div class="form-group">
             {label liame class=>"control-label" /}
             <input n:name="liame" class="form-control">
             <span class="help-block error" n:ifcontent>{$form[liame]->error}</span>
           </div>

           <div class="form-group">
             {label name class=>"control-label" /}
             <input n:name="name" class="form-control">
             <span class="help-block error" n:ifcontent>{$form[name]->error}</span>
           </div>

           <div class="form-group">
             {label password class=>"control-label" /}
             <input n:name="password" class="form-control">
             <span class="help-block error" n:ifcontent>{$form[password]->error}</span>
           </div>

           <input n:name="send" class="button">
            {/form}
             </fieldset>
         </div>
         </div>
            <div class="large-8 columns">
                 <div class="large-3 columns">
                     <ul class="side-nav">
                     </ul>
                 </div>
                   </div>
                   </div>
                   </div>

