
    {block #content}



          {form registrationForm}
        <ul class=error n:if="$form->ownErrors">
          <li n:foreach="$form->ownErrors as $error">{$error}</li>
        </ul>

        <input n:name="email" class="hide">

        <div class="form-group">
          {label liame class=>"control-label" /}
          <input n:name="liame" class="form-control">
          <span class="help-block error" n:ifcontent>{$form[liame]->error}</span>
        </div>

        <div class="form-group">
          {label name class=>"control-label" /}
          <input n:name="name" class="form-control">
          <span class="help-block error" n:ifcontent>{$form[name]->error}</span>
        </div>

        <div class="form-group">
          {label password class=>"control-label" /}
          <input n:name="password" class="form-control">
          <span class="help-block error" n:ifcontent>{$form[password]->error}</span>
        </div>

        <input n:name="send" class="button">
         {/form}


