{layout '../@wrapper.latte'}
  {block header}
  <div class="row">
    <div class="medium-3 columns">
      <div class="sidebar">
    </div>
  </div>

<div class="medium-9 columns">
    {block layout}
      {include content}
    </div>
</div>
{/block}