{layout '../Sign/default.latte'}
    {block layout}
  <div class="large-12 columns inline-list">
    <div class="large-6 columns">
       {include content}
      </div>
  </div>
  <div class="large-8 columns">
      <div class="large-3 columns">
          <ul class="side-nav">
          </ul>
      </div>
        </div>
