<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="{$robots}" n:ifset="$robots">

  <link rel="stylesheet" href="{$basePath}/vendor/foundation/css/foundation.css">
  <link rel="stylesheet" href="{$basePath}/vendor/foundation/css/normalize.css">
  <link rel="stylesheet" href="{$basePath}/vendor/foundation-icon-fonts/foundation-icons.css">
  <link rel="stylesheet" href="{$basePath}/ckeditor/contents.css">
  {block styles}{/block}
  <script src="{$basePath}/vendor/jquery/dist/jquery.js"></script>
  <script src="{$basePath}/vendor/foundation/js/foundation.js"></script>
  <script src="{$basePath}/vendor/foundation/js/foundation.min.js"></script>
  <script src="{$basePath}/js/netteForms.js"></script>
  <script src="{$basePath}/js/main.js"></script>
  <script src="{$basePath}/js/jquery.js"></script>
</head>
<body>


  <div class="row">
<div class="large-3 columns">
<h1><a href="{plink Page:}">Home</a></h1>
</div>
<div class="large-9  columns">
  <ul class="inline-list right">
      {if !$user->isLoggedIn()}
      <li><a href="{plink Sign:up}">Registrovat</a></li>
      <li><a href="{plink Sign:in}">Přihlásit</a></li>
      {/if}
      {if $user->isLoggedIn()}
      <li><a n:href="Sign:out">Logout</a></li>
      {/if}
  </ul>
</div>
  <div class="large-12 columns" role="content">
    <article>
    {include layout}
  </article>
</div>
</div>
</body>
</html>
