{block content}

<div class="row">
  <div class="large-12 columns inline-list">
    <div class="large-6 small-2 columns left">
      <fieldset>
      <legend>Sign in</legend>
        {form postForm}
             <ul class=error n:if="$form->ownErrors">
            <li n:foreach="$form->ownErrors as $error">{$error}</li>
          </ul>

          <div class="form-group">
            {label username class=>"control-label" /}
            <input n:name="username" class="form-control">
            <span class="help-block error" n:ifcontent>{$form[username]->error}</span>
          </div>

          <div class="form-group">
            {label password class=>"control-label" /}
            <input n:name="password" class="form-control" >
            <span class="help-block error" n:ifcontent>{$form[password]->error}</span>
          </div>

          <div class="checkbox">
            <label for="frm-signInForm-remember" class="b-login__remember"><input n:name="remember" id="frm-signInForm-remember">remember me</label>
            <p class="help-block">(if this is a private computer)</p>
          </div>
                  <input n:name="send" class="button">
           {/form}
           </fieldset>
       </div>
    <div class="large-9 columns">
      {foreach $node as $node}
        <h2>{$node->title}</h2>
        <label>{$node->prefix}</label>
        <article>
          {$node->content}
        </article>
        {/foreach}
    </div>
  </div>
    {/block}
